body {
    background-color: aliceblue;
}

div {
    border: 2px solid white;
    margin-left: 545px;
    margin-right: 545px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 100px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

img {
    float: left;
    border-radius: 90px;
}

.name {
    padding-left: 7px;
}

.email {
    padding-left: 7px;
    color: gray;
}

.money {
    font-size: 20px;
    font-weight: bold;
}