body {
    background-color: #ff8d27;
}

div {
    border: 1px solid white;
    margin-top: 80px;
    margin-left: 460px;
    margin-right: 460px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, #heading {
    text-align: center;
}

button {
    background-color: #18bd5b;
    margin-left: 170px;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 0;
    color: white;
}

input, option {
    margin-top: 8px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    border: 1px solid rgb(205, 202, 202);
}

select {
    font-size: 15px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    padding-right: 112px;
    border: 1px solid rgb(205, 202, 202);
}

.rightBox {
    margin-left: 10px;
    color: #69768d;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.right {
    padding-left: 100px;
}

#name {
    font-size: 14px;
    color: #69768d;
}

#lastname {
    padding-left: 173px;
}

#email {
    padding-left: 185px;
}

#emailbox {
    font-size: 15px;
    padding-right: 40px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

#example {
    font-size: 14px;
    padding-left: 245px;
    color: #69768d;
}

#listOfClasses {
    padding-left: 163px;
}